* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

html {

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #f1f1f1;
    background-color: #1f1f1f;

}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.2;
    color: #f1f1f1;

}

h1 {

    font-size: 3.81rem;

}

h2 {

    font-size: 3.05rem;

}

h3 {

    font-size: 2.44rem;

}

h4 {

    font-size: 1.95rem;

}

h5 {

    font-size: 1.56rem;

}

h6 {

    font-size: 1.25rem;

}

a {

    text-decoration: none;
    color: #f1f1f1;

}


/* Header */

#header {

    width: 100%;
    background-color: rgba(31, 31, 31, .95);
    position: fixed;
    top: 0;
    max-height: 64px;
    z-index: 100;

}

#headerWrapper {

    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;


}

#headerLogoWrapper {

    display: flex;

}

#headerLogo {

    height: 64px;

}

#headerLogo img {

    height: 100%;
    padding: 8px 12px;
    filter: invert(100%) sepia(88%) saturate(6%) hue-rotate(107deg) brightness(104%) contrast(89%);
    transition: transform .5s, filter .1s;

}

#headerLogo img:hover {

    transform: scale(1.3);
    filter: invert(9%) sepia(93%) saturate(6012%) hue-rotate(360deg) brightness(88%) contrast(109%);

}

.red {

    display: inline;
    color: #b10000;

}

.black {

    display: inline;
    color: #1f1f1f;

}

#headerNavList {

    font-size: 16px;
    font-family: 'Roboto Condensed';
    letter-spacing: 1px;
    list-style-type: none;
    display: flex;
    height: 100%;

}

#headerNavList li {

    height: 100%;


}

#headerNav a:hover {

    background-color: #b10000;
    border-bottom: 2px solid #f1f1f1;

}

#header a {

    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    transition: background-color .5s;

}

#headerIcons {

    display: flex;
    
}

#headerIcons img {

    filter: invert(100%) sepia(88%) saturate(6%) hue-rotate(107deg) brightness(104%) contrast(89%);
    transition: .1s;

}

#headerIcons img:hover {

    filter: invert(9%) sepia(93%) saturate(6012%) hue-rotate(360deg) brightness(88%) contrast(109%);

}

#menuIcon {

    padding: 0 4px;
    display: none !important;

}


/* Menu */

#menu {

    position: fixed;
    z-index: 120;
    background-color: rgba(31, 0, 0, .6);
    height: 100%;
    width: 100%;
    display: none;

}

#menuNav {

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 0;
    width: 100%;
    max-width: 320px;
    height: 100%;
    background-color: #1f0000;
    
}

#menuNavHeader {

    height: 64px;
    display: flex;
    align-items: center;

}

#menuNavCloseBtn {

    filter: invert(99%) sepia(6%) saturate(36%) hue-rotate(313deg) brightness(117%) contrast(89%);
    padding: 16px;

}

#menuNavCloseBtn:hover {

    filter: invert(13%) sepia(88%) saturate(4492%) hue-rotate(356deg) brightness(75%) contrast(115%);

}

#menuNavList {

    list-style: none;
    width: 100%;

}

#menuNavList li {

    width: 100%;

}

#menuNavList a {

    display: block;
    width: 100%;
    padding: 32px;
    font-style: italic;
    font-size: 1.2rem;
    transition: .5s;

}

#menuNavList a:hover {

    border-top: 1px solid #1f1f1f;
    border-bottom: 1px solid #1f1f1f;
    background-color: #240000;
    color: #b10000;
    font-weight: bold;

}

/* #menuImg {

    width: 100%;
    padding: 32px;

} */

#menuNavFooter {

    padding: 12px;
    display: flex;
    justify-content: space-between;

}


/* Intro Section */

#intro {

    width: 100%;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: 1fr 40% / 1fr minmax(320px, 1280px) 1fr;

}

#introImg {

    grid-row: 1 / span 2;
    grid-column: 1 / span 3;

}

#introImg img {

    width: 100%;
    height: 100vh;
    object-position: center;
    object-position: top;
    object-fit: cover;
    z-index: 1;

}

#introCard1 {

    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
    background-color: rgba(31, 31, 31, .8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 32px;
    transition: background-color 1s;

}

#introCard1:hover {

    background-color: rgba(31, 31, 31, .9);

}

#introCard1 a {

    display: block;
    width: fit-content;
    margin: 16px auto;

}

.button1 {

    background-color: #b10000;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #f1f1f1;
    padding: 12px 24px;
    border: 2px solid #b10000;
    border-radius: 50px;
    width: fit-content;
    margin: 8px auto;
    transition: border .5s, transform .3s;

}

.button1:hover{

    border: 2px solid #f1f1f1;
    transform: scale(1.2);

}


/* About Section */

#about {

    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#aboutHeader {

    text-align: center;
    min-width: 100%;
    margin: 16px 0;
    padding-top: 16px;
    background-color: rgba(0, 0, 0, 0.4);

}

#aboutHeaderBrands {

    width: 100%;
    max-width: 1024px;
    padding: 0 8px;
    margin: 16px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

#aboutHeaderBrands img {

    height: 80px;
    padding: 12px;
    transition: transform .5s;

}

#aboutHeaderBrands img:hover {

    transform: scale(1.2);

}

#aboutArticle {

    width: 100%;
    padding: 12px 0;
    /* font-size: 1.2rem; */
    background-color: rgba(0, 0, 0, 0.2);

}

#aboutArticle figure {

    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    display: flex;

}

#aboutArticle figcaption {

    padding: 16px 8px 16px 20px;

}

#aboutArticleImg {

    min-height: 100%;
    width: 35%;
    object-fit: cover;
    object-position: center;

}

#aboutArticle p {

    line-height: 1.5;
    padding-bottom: 12px;

}


/* Membership Section */

#membership {

    width: 100%;
    margin: 16px 0;
    text-align: center;
    display: flex;
    justify-content: center;

}


#membershipArticle {

    width: 100%;
    max-width: 1440px;
    margin: 16px auto;
    background-image: url(../images/grapple1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

#membershipHeader {

    background-color: rgba(31, 31, 31, .6);
    padding: 16px 0;
    position: relative;
    top: 32px;

}

#membershipHeader h3 {

    letter-spacing: 4px;
    font-weight: lighter;

}

#membershipHeader h6 {

    letter-spacing: 8px;
    font-weight: lighter;
    font-size: 1.2rem;

}

#membershipPrices {

    display: flex;
    justify-content: space-evenly;
    margin-top: 64px;

}

.membershipPricesCards {

    margin: 32px 16px 0 16px;
    padding: 32px;
    max-width: 100%;
    min-width: 250px;
    flex: 1 1;
    background-color: rgba(241, 241, 241, .95);
    color: #1f1f1f;
    transition: background-color .2s, box-shadow 2s;

}

.membershipPricesCards:hover {

    background-color: rgba(241, 241, 241, 1);

}

.membershipPricesCards h1 {

    letter-spacing: 4px;
    font-weight: lighter;
    color: #1f1f1f;

}

.membershipPricesCards h5{

    width: fit-content;
    margin: 0 auto;
    transition: transform 1s;

}

.membershipPricesCards:hover h5{

    transform: scale(1.8);

}

#membershipPricesUltimate:hover {

    box-shadow: 0 -5px 10px 10px #b10000;

}

.membershipPricesCards h5 {

    color: #1f1f1f;
    margin-bottom: 32px;
    font-style: italic;

}

.membershipPricesCards p {

    font-weight: lighter;
    padding: 16px 0 0 0;
    height: 135px;

}

.membershipPricesCards .button1 {

    margin: 32px auto 0 auto;

}

.membershipPricesCards .button1:hover {

    background-color: #1f1f1f;
    color: #b10000;
    border: 2px solid #b10000;

}

.membershipPricesCards .button1 p {

    padding: 0;
    height: auto;

}

#membershipExtras {

    background-color: rgba(177, 0, 0, .7);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#membershipExtras div {

    flex: 1 1 310px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: lighter;
    font-style: italic;

}


/* Classes Section */

#classes {

    text-align: center;
    padding: 48px 0;
    overflow: hidden;
    transition: background-color 1s;

}

#classes:hover {

    background-color: rgba(0, 0, 0, 0.2);

}

#classesArtsCardsWrapper {

    margin: 8px auto;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#classesArtsCardsWrapper figure {

    flex: 1 1 18%;
    min-width: 130px;
    max-width: 272px;
    margin: 8px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 1s;

}

#classesArtsCardsWrapper figure:hover {

    transform: scale(1.3);
    z-index: 99;

}

#classesArtsCardsWrapper figcaption {

    display: flex;
    justify-content: center;
    align-items: center;

}

#classesArtsCardsWrapper img {

    width: 100%;
    display: block;

}

#classesArtsCardsWrapper h6 {

    font-size: .85rem;
    padding: 8px;
    color: #1f1f1f;
    line-height: 1;

}


/* Instructors Section */

#instructors {

    text-align: center;
    width: 100%;
    background-color: #f1f1f1;
    padding: 32px 0;

}

#instructorsWrapper {

    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

#instructorsWrapper figure {

    flex: 1 1 25%;
    margin-top: 8px;

}

#instructorsWrapper figcaption {

    padding: 8px;

}

#instructorsWrapper img {

    width: 100%;
    padding: 1%;

}

#instructors h2 {

    padding: 8px;
    color: #1f1f1f;

}

#instructors h5 {

    color: #1F1F1F;
    padding: 32px;

}

#instructors h6 {

    color: #1f1f1f;

}

#instructors p {

    padding-top: 8px;
    color: #1f1f1f;

}


/* Contact Section */

#contact {

    width: 100%;

}

#contactWrapper {

    width: 100%;
    padding: 256px 0 0 0;
    background-image: URL(../images/ring2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#contactArticle {

    margin: 0 auto;
    padding: 0 0 16px 0;
    text-align: center;
    width: 100%;
    max-width: 1440px;
    background-color: rgba(241, 241, 241, .85);
    transition: background-color 1s;

}

#contactArticle:hover {

    background-color: rgba(241, 241, 241, .95);

}

#contactHeader {

    padding: 16px 0;

}

#contactMapDetails {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#contactDetails {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#contactHours {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#contactMap {

    width: 100%;
    max-width: 1440px;
    height: 50vh;
    margin: 0 auto;

}

#contact h2, #contact h6, #contact p {

    color: #1f1f1f;
    font-style: italic;

}

form {

    width: 100%;
    /* max-width: 768px; */
    margin: 32px auto 0 auto;

}

input {

    padding: 8px 12px;
    border-radius: 5px;
    width: 46.8%;
    margin: 8px;
    font-family: 'Roboto', sans-serif;

}

#subject {

    width: 95%;

}

#message {

    width: 95%;
    height: 128px;
    padding: 8px 12px;
    border-radius: 5px;
    margin: 8px;
    resize: none;
    text-align: left;
    font-family: 'Roboto', sans-serif;

}

#agree {

    width: fit-content;
    display: inline-block;
    margin: 0 8px;
    text-align: left;

}

#agreeText {

    width: fit-content;
    display: inline-block;
    text-align: left;

}

#submit {

    display: block;
    width: 160px;

}

#submit:hover {

    background-color: #f1f1f1;
    color: #b10000;
    border: 2px solid #b10000;

}



/* Footer */

footer {

    padding: 12px;
    display: flex;
    justify-content: space-between;

}

/* Universal Class Styles */

.reverseColours {

    background-color: #f1f1f1;
    color:#1f1f1f;

}

.italic {

    font-style: italic;

}

.smallPrint {

    font-size: .8rem;

}

.stopScrolling {

    height: 100%;
    overflow: hidden;

}

.blur {

    filter: blur(5px);

}


@media only screen and (max-width: 1220px) {

    #headerLogoText h1 {

        font-size: 20px;

    }

}


@media only screen and (max-width: 1050px) {

    #headerLogoText {

        display: none !important;

    }

    #membershipPrices {

        flex-wrap: wrap;
    
    }

    #classesArtsCardsWrapper figure {

        max-width: 190px;
    
    }

}

@media only screen and (max-width: 870px) {


    #headerLogoText {

        display: flex !important;

    }

    #headerNavList {

        display: none;

    }

    #menuIcon {

        display: block !important;
    
    }

    #classesArtsCardsWrapper figure {

        max-width: 160px;
    
    }

}

@media only screen and (max-width: 530px) {

    html {

        font-size: 12px;

    }

    #headerLogoText {

        display: none !important;

    }

    #membershipPrices {

        margin-top: 32px;
    
    }

    #classesArtsCardsWrapper figure {

        flex: 1 1 42%;
        max-width: 272px;
    
    }

    #instructorsWrapper {

        flex-wrap: wrap;
    
    }

    #instructorsWrapper figure {

        flex: 1 1 50%;
    
    }
    #contactDetails {

        width: 100%;
        padding-bottom: 32px;
    
    }
    
    #contactHours {
    
        width: 100%;

    }

    input {

        width: 95%;
    
    }

}

@keyframes fadeIn {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.fadeIn {

    animation-name: fadeIn;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;

}

@keyframes fadeOut {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

.fadeOut {

    animation-name: fadeOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;

}

@keyframes menuIn {

    from {
        right: -100%
    }

    to {
        right: 0;
    }

}

.menuIn {

    animation-name: menuIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;

}

@keyframes menuOut {

    from {
        right: 0
    }

    to {
        right: -100%;
    }

}

.menuOut {

    animation-name: menuOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;

}